.header {
  align-items: center;
  background-color: white;
  display: flex;
  font-size: 0.75rem;
  height: var(--header-height);
  line-height: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
}

.home-link {
  background: transparent;
  border-width: 0;
  color: black;
  padding: 3px 6px;
}

.title {
  font-size: 1rem;
  flex-grow: 1;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.version {
  padding: 3px 6px;
}
